
.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}
header h1 {
    position: absolute;
    color: whitesmoke;
    top: 350px;
    left: 40vw;
}

header h2 {
    position: absolute;
    color: whitesmoke;
    top: 398px;
    left: 41vw;
    font-size: 20px;
}
.icons  #pri{
    position: absolute;
    color: whitesmoke;
    top: 430px;
    margin-left: 45vw;
}
.icons  #seg{
    position: absolute;
    color: whitesmoke;
    top: 430px;
    margin-left: 47vw;
}
.icons  #ter{
    position: absolute;
    color: whitesmoke;
    top: 430px;
    margin-left: 49vw;
}
.icons  #qua{
    position: absolute;
    color: whitesmoke;
    top: 430px;
    margin-left: 51vw;
}
main{
    background-color: #343a40!important;
}
main img{
    border-radius: 50%;
    width: 10vw;
    margin-left: 7vw;
}
main .card{
    width: 25vw;
    margin-left: 36vw;
    
}